# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
coverage.xml
.ruff_cache
.mypy_cache

# Home Assistant configuration
config/*
!config/configuration.yaml
!config/.storage/
config/.storage/*auth*
config/.storage/*frontend*
config/.storage/*trace*
config/.storage/*lovelace*
config/.storage/*person*
config/.storage/*onboarding*
config/.storage/*http*
config/.storage/*restore_state*
config/.storage/*repairs*
config/.storage/*analytics*
config/.storage/*core.config

# Explicitly ignore backup files
*.tar

# Python Environment
.venv
commit_messages.txt
release_diff.txt
codex.patch
testlog.log
build
tmp/